absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
analytics-python
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
astunparse
async-lru
async-timeout
asyncer
asyncio
attrs
Babel
backoff
bcrypt
beautifulsoup4
bidict
bitsandbytes
bleach
blinker
blis
build
cachetools
catalogue
certifi
cffi
chainlit
charset-normalizer
chevron
chroma-hnswlib
chromadb
ci-info
click
cloudpathlib
colorama
coloredlogs
comm
confection
configobj
configparser
contourpy
cryptography
curl-cffi
cycler
cymem
dataclasses-json
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distro
dnspython
docstring-inheritance
duckduckgo_search
durationpy
edge-tts
einops
email_validator
entrypoints
etelemetry
executing
faiss-cpu
Faker
fastai
fastapi
fastapi-cli
fastbook
fastcore
fastdownload
fastjsonschema
fastprogress
favicon
ffmpy
filelock
filetype
Flask
Flask-Cors
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-pasta
googleapis-common-protos
gradio
gradio_client
graphviz
greenlet
grpcio
gunicorn
h11
h5py
htbuilder
httpcore
httplib2
httptools
httpx
hugchat
huggingface
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
intel-openmp
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langcodes
langsmith
Lazify
libclang
linkify-it-py
literalai
looseversion
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mkl
ml-dtypes
mmh3
monotonic
more-itertools
mpmath
multidict
multiprocess
murmurhash
mypy-extensions
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nibabel
nipype
notebook
notebook_shim
numexpr
numpy
oauthlib
onnxruntime
openai
openapi-schema-pydantic
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
opt-einsum
optree
orjson
overrides
packaging
pandas
pandocfilters
paramiko
parso
pathlib
pdfminer.six
pdfplumber
pillow
platformdirs
plotly
posthog
preshed
prometheus-client
prompt-toolkit
protobuf
prov
psutil
pure-eval
puremagic
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
pydot
pydub
Pygments
PyJWT
pymdown-extensions
pyMetaheuristic
pymongo
PyMuPDF
PyNaCl
pyparsing
pypdf
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-docx
python-dotenv
python-engineio
python-json-logger
python-multipart
python-socketio
pytz
pywin32
pywinpty
pyxnat
PyYAML
pyzmq
qtconsole
QtPy
rdflib
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
sentence-transformers
sentencepiece
shellingham
simple-websocket
simplejson
six
smart-open
smmap
sniffio
soupsieve
soxr
spaces
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
st-annotated-text
st-theme
stack-data
starlette
streaming-stt-nemo
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-chat
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
sympy
syncer
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
tf_keras
thinc
threadpoolctl
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
torchvision
tornado
tqdm
traitlets
traits
transformers
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
uptrace
uri-template
urllib3
uvicorn
validators
waitress
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
wsproto
xxhash
yarl
zipp
pywin32; platform_system == "Windows"
